PORT=

#DATABASE
#DB_HOST=
DB_HOST=host.docker.internal # unblock as we operate on the docker so that it can see the base in the localhost
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DBNAME=

#AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET_NAME=

#REDIS
REDIS_HOST="redis_backend_microservice"
REDIS_PORT=

#CELERY
BACKEND="redis://redis_backend_microservice:6379/0"
BROKER="pyamqp://_login_:_password_@rabbitmq_backend_microservice:5672//" -> set login and password for your celery

#RABBITMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

