PORT=

#DATABASE
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DBNAME=

#AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET_NAME=

#REDIS
REDIS_HOST=
REDIS_PORT=

#RABBITMQ
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

